/* Gaya umum untuk semua perangkat */
body {
  font-family: "Holtwood One SC", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(IMG/wallpaper_jungle.jpg);
  background-size: cover; /* Menutupi seluruh layar */
  background-repeat: no-repeat; /* Menghindari pengulangan gambar */
  background-attachment: fixed; /* Membuat gambar tetap di tempat saat menggulir */
  background-position: center center; /* Posisikan gambar di tengah */
  min-height: 100vh;
}

header,
main,
footer {
  padding: 5px;
  text-align: center;
}

#Judul {
  font-size: 20px;
}

/* Media query untuk perangkat dengan lebar layar kurang dari 768px */
@media (max-width: 768px) {
  header,
  main,
  footer {
    padding: 5px;
  }

  .kotak_header {
    margin: auto;
    margin-top: 20px;
    width: 300px; /* Lebar persegi panjang */
    height: 100px; /* Tinggi persegi panjang */
    background-image: url(IMG/kayu_judul.png);
    background-size: cover; /* Menutupi seluruh layar */
  }
  .animasi-skala {
    margin-top: -23px;
    width: 200px; /* Lebar persegi panjang */
    height: 100px;
    animation: skala-berulang 1s infinite alternate; /* Menerapkan animasi skala secara terus-menerus */
  }

  @keyframes skala-berulang {
    0% {
      transform: scale(0.9); /* Skala awal */
    }
    100% {
      transform: scale(1); /* Skala akhir */
    }
  }
  #Judul {
    margin-top: -46px;
    margin-left: 25px;
    text-shadow: 0 0 0.125em rgb(255, 230, 0), 0 0 0.35em rgb(255, 230, 0),
      0 0 0.6em rgb(255, 230, 0);
    animation: flicker 5s ease-in-out alternate infinite;
    color: rgb(84, 112, 26);
    text-align: center;
    line-height: 1.1;
    width: 250px; /* Lebar persegi panjang */
    height: 100px; /* Tinggi persegi panjang */
    font-size: 17px;
    z-index: 2;
  }

  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 0.125em rgb(255, 230, 0), 0 0 0.35em rgb(255, 230, 0),
        0 0 0.6em rgb(255, 230, 0);
    }
    20%,
    24%,
    55% {
      text-shadow: 0 0 0.125em rgb(255, 230, 0), 0 0 0.2em rgb(255, 230, 0),
        0 0 0.47em rgb(255, 230, 0);
    }
  }

  .centered-textbox {
    text-align: center;
    pointer-events: none;
    user-select: none;
  }

  .kotak_sensorvalue {
    margin: auto;
    margin-top: -15px;
    margin-bottom: -5px;
    width: 330px; /* Lebar persegi panjang */
    height: 495px; /* Tinggi persegi panjang */
    background-image: url(IMG/sensor_value2.png);
    background-size: cover; /* Menutupi seluruh layar */
  }
  .textvalue {
    text-shadow: -1px -1px 0 brown, /* Shadow ke kiri atas */ 1px -1px 0 brown,
      /* Shadow ke kanan atas */ -1px 1px 0 brown,
      /* Shadow ke kiri bawah */ 1px 1px 0 black; /* Shadow ke kanan bawah */
    color: #fff6d9;
    position: absolute;
    z-index: 1;
    margin-left: 0px;
    margin-top: 0px;
    width: 70%;
  }
  #textsuhu {
    margin-top: 98px;
    line-height: 1.1;
    font-size: 12px;
    margin-left: 143px;
  }
  #textcahaya {
    font-size: 12px;
    line-height: 1.05;
    margin-top: 38px;
    margin-left: 145px;
  }
  #textph {
    margin-left: 73px;
    margin-top: 36px;
    font-size: 14px;
    width: 100%;
  }
  #textkelembapan {
    margin-top: 33px;
    line-height: 1.05;
    font-size: 12px;
    margin-left: 145px;
  }
  #textkelembapanudara {
    margin-top: 39px;
    line-height: 1.05;
    font-size: 12px;
    margin-left: 140px;
  }
  #textsuhuudara {
    margin-top: 37px;
    line-height: 1.05;
    font-size: 11px;
    margin-left: 140px;
  }
  #valuesuhu {
    margin-top: 95px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
  }
  #valuecahaya {
    font-family: sans-serif;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
  }
  #valueph {
    margin-top: 25px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
  }
  #valuekelembapan {
    margin-top: 25px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: 100px;
    position: absolute;
    z-index: 2;
  }

  #valuesuhuudara {
    margin-top: -25px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: 98px;
    position: absolute;
    z-index: 2;
  }

  #valuekelembapanudara {
    margin-top: -35px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    margin-left: 98px;
    position: absolute;
    z-index: 2;
  }

  #mulai {
    margin-top: 420px;
    margin-left: 10px;
    width: 70px;
    height: 54px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 4;
  }
  #mulai img {
    width: 100%; /* Mengatur lebar gambar agar sesuai dengan lebar tombol */
    height: 100%; /* Mengatur tinggi gambar agar sesuai dengan tinggi tombol */
    object-fit: cover; /* Untuk memastikan gambar ditampilkan dalam persegi */
    transition: transform 0.3s ease;
  }

  #mulai:hover img {
    transform: scale(1.2); /* Membuat gambar membesar saat dihover */
  }

  #mulai:active img {
    transform: scale(0.8); /* Membuat gambar mengecil saat tombol ditekan */
  }

  #reset {
    margin-left: -80px;
    margin-top: 420px;
    width: 70px;
    height: 54px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 3;
  }
  #reset img {
    width: 100%; /* Mengatur lebar gambar agar sesuai dengan lebar tombol */
    height: 100%; /* Mengatur tinggi gambar agar sesuai dengan tinggi tombol */
    object-fit: cover; /* Untuk memastikan gambar ditampilkan dalam persegi */
    transition: transform 0.3s ease;
  }
  #reset:hover img {
    transform: scale(1.2); /* Membuat gambar membesar saat dihover */
  }

  #reset:active img {
    transform: scale(0.8); /* Membuat gambar mengecil saat tombol ditekan */
  }

  .keterangan {
    margin: auto;
    color: #fff6d9;
    margin-top: -10px;
    width: 240px; /* Lebar persegi panjang */
    height: 100px; /* Tinggi persegi panjang */
    background-image: url(IMG/keterangan.png);
    background-size: cover; /* Menutupi seluruh layar */
  }
  #jenispohontext {
    margin-top: -92px;
    font-size: 13px;
    color: #fff6d9;
  }
  #jenispohon {
    margin-top: 25px;
    color: #fff6d9;
  }
}
